.photos-friends {
    display: flex;
}

.friends {
    width: 50%;
}

.friends__container {
    display: flex;
    flex-direction: column;
    margin: 20px 70px 0 10px;
    padding: 20px;
    background-color: rgba(49, 51, 86, 0.60);
    border-radius: 20px;
    gap: 20px;
}

.friends__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
